.ad{
background:#CCCCCC;}
table{
margin-top:10px;
border:1px;
text-align:center;
}
td.left {text-align: left; }
table.sport{text-align: center; }


.header{
background-image: url(images/back.jpg);
color:white;
font-style: sans-serif;
font-weight: bold;
text-align:center;


}
.picture{
text-align:center;
background-image: url(images/paper.jpg);
padding: 10px;
width: 120px;
}
.note{
	font-family:Arial,Helvetica,sans-serif;
	color:#800000; 
	text-align:center;
	padding-top:5px;
	 padding-bottom:5px;
padding-left: 10px;
padding-right: 10px;

}

